@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

body{
    background: #000;
    width: 30%;
    margin: 0 auto;
    font-family: 'Noto Sans JP', sans-serif;
}

a{
    font-family: 'Noto Sans JP', sans-serif;
}

.topimg{
    position: absolute;
    right: 0;
    top: 50px;
    width: 250px;
}

.flow{
    position: absolute;
    top: 490px;
    right: 15px;
}

.topimg_p{
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    color: #DDD;
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    top: 70px;
    right:-10px;
    z-index: 99;
}

.top_p{
    position: absolute;
    top: 490px;
    left: 30px;
}

h1{
    padding-top: 20px;
    color: #fff;
    font-size: 20px;
}

h2{
    color: #C5C5C5;
    font-size: 11px;
    margin-bottom: 28px;
}

a{
    text-decoration: none;
    color: #fff;
    background: #F32121;
    font-size: 14px;
    padding: 12px 10px;
    padding-right: 50px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 72px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
}


a::after{
    content: "";
    width: 16px;
    position: absolute;
    background: url(../img/arrow.svg) center center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0;
    right: 15px;
}

.se{
    margin-bottom: 92px;
}


@media (max-width: 700px) {
    body{
        background: #000;
        width: 100%;
        margin: 0 auto;
    }

}